@model Library.Models.HomeIndexModel

@section scripts {
    <script>
        $(document).ready(function () {
            alert('hi');
        })
    </script>
}

@section css {
    <style>
        div {
            background-color: blue;
        }
    </style>
}

@foreach (var book in Model.Books)
{
    @Html.LabelForModel(book.Title);
    @Html.LabelForModel(book.Genre);
}

@using (Html.BeginForm("CreateBook", "Home", FormMethod.Post))
{
    <div>@Html.TextBoxFor(model => model.Title)</div>
    @Html.ValidationMessageFor(model => model.Title)
    <button type="submit">Create Book</button>
}
